APPLICATION_ICON    ICON        "${CMAKE_SOURCE_DIR}/share/branding/VACards-AppIcon.ico"
1                   24          "${CMAKE_BINARY_DIR}/src/${FILE_NAME}-manifest.xml"

1 VERSIONINFO
    FILEVERSION     ${VACARDS_PRODUCT_pe}
    PRODUCTVERSION  ${VACARDS_PRODUCT_pe}
    FILEOS          0x40004
    FILETYPE        1
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "Comments",         "Published under the GNU GPL"
            VALUE "CompanyName",      "VACards"
            VALUE "FileDescription",  "${PROGRAM_DESCRIPTION}"
            VALUE "FileVersion",      "${VACARDS_PRODUCT_release}"
            VALUE "InternalName",     "${PROGRAM_NAME}"
            VALUE "LegalCopyright",   "VA Studio © ${VACARDS_COPYRIGHT_HOLDER_DISPLAY}; based on Inkscape © Inkscape developers"
            VALUE "OriginalFilename", "${FILE_NAME}.exe"
            VALUE "ProductName",      "${VACARDS_PRODUCT_name}"
            VALUE "ProductVersion",   "${VACARDS_PRODUCT_release}"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1252
    END
END
